.body{
    background-color: #E9F1F2;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.navigation{
    font-weight: 500;
    color: #012611;
    text-transform: uppercase;
    background-color:#E9F1F2;

}
.burger{
    padding-right: 3em;
}

.navContainer{
    padding: 0;
    height: 50vh;
    width: 100vw;
    background-color: #E9F1F2;
    position: absolute;
    left: 0;
    margin-top: 1.5em;
    

}

.paper{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navContainer * { 
    color: #4A6D8C;
    text-align: center;
    padding: 5px 0; 

}

.navLink :hover {
    background-color: #E9F1F2;
}



.expandedNav{
    width: 80%;
    margin-left: 20px;
    justify-content: space-around;
}

.expandedNav * {
    font-size: 1rem;

}

.about{
    background-color: #4A6D8C;
    width: 'inherit';
    color: #E9F1F2;
}

